.Site2 {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #2e1753,
    #1f1746,
    #131537,
    #0d1028,
    #000000
  );
  overflow-x: hidden;
}
.text {
  position: absolute;
  top: 10%;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}
h1 {
  font-size: 50px;
}
.star {
  overflow-x: hidden;
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  right: 0;
  animation: starTwinkle 3s infinite linear;
}
.astronaut img {
  overflow-x: hidden;
  width: 100px;
  position: absolute;
  top: 55%;
  animation: astronautFly 6s infinite linear;

  .astronaut {
    overflow-x: hidden;
  }
}
@keyframes astronautFly {
  0% {
    left: -100px;
    overflow-x: hidden;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
    overflow-x: hidden;
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
    overflow-x: hidden;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
    overflow-x: hidden;
  }
  100% {
    left: 100%;
    transform: rotate(45deg);
    overflow-x: hidden;
  }
}
@keyframes starTwinkle {
  0% {
    background: rgba(255, 255, 255, 0.4);
  }
  25% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  75% {
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
  }
}

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.stars {
  background-color: #fff;
  position: fixed;
  z-index: 0;
}

$stars-big-count: 10;
$stars-big: 1px;

.stars-big {
  width: $stars-big;
  height: $stars-big;
  animation: move-stars 10s linear infinite;
}

@for $i from 1 through $stars-big-count {
  .stars-big {
    &:nth-child(#{$i}) {
      animation-delay: random(5000) + ms;
      top: random(100) + vh;
    }
  }
}

$stars-medium-count: 10;
$stars-medium: 8px;

.stars-medium {
  width: $stars-medium;
  height: $stars-medium;
  animation: move-stars 4s linear infinite;
}

@for $i from 1 through $stars-medium-count {
  .stars-medium {
    &:nth-child(#{$i}) {
      animation-delay: random(5000) + ms;
      top: random(100) + vh;
    }
  }
}

$stars-small-count: 100;
$stars-small: 2px;

.stars-small {
  width: $stars-small;
  height: $stars-small;
  animation: move-stars 3s linear infinite;
}

@for $i from 1 through $stars-small-count {
  .stars-small {
    &:nth-child(#{$i}) {
      animation-delay: random(5000) + ms;
      top: random(100) + vh;
    }
  }
}

@keyframes move-stars {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 99999;
}

.fa-whatsapp {
  margin-top: 15px;
  margin-left: 15px;

}