.Site999{
  text-align: center;
  max-width: 1879px;
  margin: auto;
}

.about1 {
  display: flex;
  background-color: #a80c0c;
  align-items: center;

  @media screen and (max-width: 750px) {

  }
  @media screen and (max-width: 412px) {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
}

.aboutItem {
  border-radius: 300px 700px 670px 330px / 300px 280px 720px 700px;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 50%;
  height: 700px;
  flex-direction: column;
  justify-content: center;

  align-items: right;

  @media screen and (max-width: 412px) {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
  }
}

.ondas{
  max-width: 1879px;
  position:absolute;
  top: 500px;




}

.QuemSomos{
  color: black;
}

.aboutItem h1 {
  color: black;
  font-weight: bold;

  @media screen and (max-width: 375px) {
    width: 345px;
    font-size: 2.5rem;
  }
}

.aboutItem p {
  display: flex;
  align-self: center;

  width: 800px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  @media screen and (max-width: 730px) {
    width: 600px;
  }
  @media screen and (max-width: 580px) {
    width: 370px;
  }
  @media screen and (max-width: 412px) {
    width: 320px;
  }
}

.img {

  padding: 30px;
  height: 50%;
  max-width: 50%;
  @media screen and (max-width: 730px) {
    display: none;
  }
}

.img img{
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 79px #000000,
               -20px -20px 79px #000000;
}

.about2 {
  background-color: black;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 1080px) {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  @media screen and (max-width: 360px) {
    height: 100vh;
  }
}

.about2 .prop {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about2 .patroc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about2 h1 {
  font-size: 3rem;
  color: #a20908;
  padding-bottom: 10px;
}

.about2 p {
  width: 550px;
  font-size: 1rem;
  color: #fff;

  @media screen and (max-width: 462px) {
    width: 400px;
  }
  @media screen and (max-width: 412px) {
    width: 350px;
  }
}

.about3 {
  background-color: #a80c0c;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about3 h1 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
}

.about3 p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  color: #fff;
  @media screen and (max-width: 462px) {
    width: 400px;
  }
  @media screen and (max-width: 412px) {
    width: 350px;
  }
}
