.TelaMain{
    margin:0;
    padding:0;
    font-family: 'Sora', sans-serif;
    height:100vh;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #000000);
    overflow-x:hidden;
    width: 100%;
    max-width: 1879px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.Tela2{
    display: flex;
    justify-content: space-evenly;
}



.Caixa1{
    text-align: center;
    gap: 10px;
    z-index: 9999;
    margin-top: 70px;
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    user-select: none;
}

.Texto{
    user-select: none;
    display: block;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;

}

.Botao{
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 60px 20px 60px;
    border-radius: 20px;

}

.area1{

    position: absolute;
    z-index: 0;
    width: 100%;
    height:100vH;

}

// .inputs{
//     padding-left: 150px;
//     border-radius: 5px;
//     color: #000;
//     font-size: medium;

// }

.Caixa2{
    z-index: 10;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    gap: 30px;
}

.subCaixa1{
    display: flex;
    gap: 50px;
}

    // .botaowpp{
    //     background-color: green;
    //     padding: 20px 60px 20px 60px;
    //     border-radius: 20px;
    // }

.Maps{
    height: 300px;
    width: 605px;
    box-shadow: 2px 2px rgb(5, 5, 5);
    border: 3px solid black;
    border-radius: 0.4em;
    background-color: gainsboro;

}

.MapsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.Caixa1 {
    
    background: #fb1f1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-radius: 0.4em;
    // box-shadow: 4px 4px rgb(95, 0, 0), 6px 6px rgb(43, 0, 0), 8px 8px black;
    color: black;
   }
   
   .Caixa1:hover {
    box-shadow: 4px 4px rgb(95, 0, 0), 6px 6px rgb(43, 0, 0), 8px 8px black;
    translate: -4px -4px;
    transition: all 0.2s ease-in-out;
  
}

.text_area{
    color: #000;
    font-weight: 200;
    font-size: 20px;
    resize: none;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    border-style: none;
    outline: #000;
}

.inputs {
    width: 100%;
    font-weight: 200;
    font-size: 30px;
    height: 45px;
    padding: 12px;

    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .inputs:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
    
  
  }
  
  .inputs:active {
    transform: scale(0.95);
  }


  .botaowpp {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background: #25D366;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em black;
    color: black;
    transition: all 0.2s ease-in-out;
   }
   
   .botaowpp:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em black;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
   }
   
   .botaowpp:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   .botaoinst {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background: #C13584;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em black;
    color: black;
    transition: all 0.2s ease-in-out;
   }
   
   .botaoinst:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em black;
    background: #e967f5;
    transition: all 0.2s ease-in-out;

   }
   
   .botaoinst:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   .botaoface {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background: #4267B2;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em black;
    color: black;
    transition: all 0.2s ease-in-out;
   }
   
   .botaoface:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em black;
    background-color: #4b4997a4;
    transition: all 0.2s ease-in-out;
   }
   
   .botaoface:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

.Titulo{
    margin-bottom: 15px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 3px black;
    user-select: none;
}

.Titulo2{
    user-select: none;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.foguete1{
    position: absolute;
    display: inline-block;
    height: 80px;
    -webkit-filter: drop-shadow(2px 2px 10px #222);
    
}



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

