.View {
  max-width: 1879px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-carousel {
  display: flex;
  gap: 20px;
}

.item {
  min-height: 100%;
  min-width: 100%;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  pointer-events: none;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

body,
html {

  overflow: initial !important;
}
