.ViewServices {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  height: 800px;


}

.cards {
  margin: auto;
  max-width: 250px;
  overflow-y: none;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  @media screen and (max-width: 1108px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  @media screen and (max-width: 790px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  @media screen and (max-width: 450px) {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  @media screen and (max-width: 652px) {
    width: 90%;
    padding: 1rem;
  }

  @media screen and (max-width: 450px) {
    width: 80%;
    padding: 1rem;
  }
}

.container h1 {
  border-radius: 15px;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  user-select: none;
  @media screen and (max-width: 760px) {
    width: 450px;
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 450px) {
    width: 300px;
    font-size: 1.3rem;
  }
}

.container h1:hover {
  box-shadow: 1px 4px rgb(95, 0, 0), 1px 6px rgb(43, 0, 0), 1px 8px black;
  translate: -0px -4px;
  transition: all 0.2s ease-in-out;
}

.container h3 {
  text-align: center;
  user-select: none;
  color: red;
  font-weight: bold;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  translate: 0px -10px;
}

.container h3:hover {
  box-shadow: 1px 4px rgb(95, 0, 0), 1px 6px rgb(43, 0, 0), 1px 8px black;
  translate: -0px -14px;
  transition: all 0.2s ease-in-out;
}

.wrap1 {
  height: 100vh;
  

}

.svg1 {
	z-index: -999;
	stroke:#ff000057;
	position:relative;
	bottom: 0vh;
	transform-style: preserve-3d;
	max-width: 1860px;
}

$total: 40;
@for $i from 1 through $total {
	$scale:random(2) - .4;

	.svg1:nth-child(#{$i}){
		left:random(120) * 1% - 20;
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);

		filter: blur($i - 6 + px);

	  @keyframes raise#{$i} {
		  to{
			overflow: hidden;
			 bottom:150vw;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}
