.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: red;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copyright {
  margin-top: 1rem;
}

.copyright span {
  font-weight: bold;
  color: red;
}
