.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  bottom: 0;
  height: 200px;
  background-color: black;
  width: 100%;
  z-index: 9999;

}

.social_list {
}

.social_list li {
  display: inline-block;
  color: white;
  margin: 0 1em;
}

.social_list li:hover {
  color: red;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copyright {
  margin: 0;
  padding: 0;
}

.copyright span {
  font-weight: bold;
  color: red;
}
