.card-container {
  overflow: hidden;
  margin: 10px;
  transition: all 0.8s;
}

.card-container:hover {
  -webkit-filter: drop-shadow(2px 2px 10px #222);
}

.image-container img {
  overflow: hidden;
  width: 326px;
  height: 652px;
  cursor: pointer;
  transition: all ease 0.5s;
}