.View{
    width: 100%;
    max-width: 1879px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-carousel{
    display: flex;
    gap: 20px;
}

.item{
    min-height: 884px;
    min-width: 1879px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}



body{

    height: 100vh;
    overflow: hidden;


}

