.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container h1 {
  color: white;
  font-weight: bold;
}

.container h3 {
  color: red;
  font-weight: bold;
}
